:root
{
    /* General */
    --c-general-bg: #F9FAFB;
    --c-general-bg-2: #ebeff7;
    --c-general-border: #ddd;
    --c-general-text: #111827;

    /* Bouton principal */
    --c-btn-1: #3B82F6;
    --c-btn-1-hover: #2563EB;
    --c-btn-1-text: #FFFFFF;

    /* Bouton secondaire */
    --c-btn-2: #b2cee4;
    --c-btn-2-hover: #9bb9d1;
    --c-btn-2-text: #163079;

    /* Bouton sélectionner */
    --c-btn-select: #fdbc4c;         
    --c-btn-select-hover: #ffad1f;
    --c-btn-select-ready: #ffad1f;         
    --c-btn-select-ready-hover: #f09800; 
    --c-btn-select-text: #FFFFFF;

    /* Bouton usager liste 1 */
    --c-btn-usager-l-1: #b2cee4;         
    --c-btn-usager-l-1-hover: #9bb9d1;
    --c-btn-usager-l-1-text: #163079;

    /* Bouton usager liste 2 */
    --c-btn-usager-l-2: #dfc3f1;         
    --c-btn-usager-l-2-hover: #cda9e6;
    --c-btn-usager-l-2-text: #691679;
    
    /* Bouton nouvel usager liste 1 */
    --c-btn-new-usager-l-1: #80c8ff;         
    --c-btn-new-usager-l-1-hover: #6aade0;
    --c-btn-new-usager-l-1-text: #163079;

    /* Bouton nouvel usager liste 2 */
    --c-btn-new-usager-l-2: #f07cff;         
    --c-btn-new-usager-l-2-hover: #d573e2;
    --c-btn-new-usager-l-2-text: #691679;

    /* Bouton ok */
    --c-btn-ok: #34d37b;         
    --c-btn-ok-hover: #10b95c;     
    --c-btn-ok-text: #FFFFFF;

    /* Bouton supprimer */
    --c-btn-del: #F87171;            
    --c-btn-del-hover: #EF4444;    
    --c-btn-del-text: #FFFFFF;

    /* Input */
    --c-input-bg: #F3F4F6;   
    --c-input-text: #111827;   
    --c-input-border: #a5c7f0;  

    /* Side-menu */
    --c-sm-bg-1: #dde5f5;
    --c-sm-bg-2: #d8e1f1;
    --c-sm-text: #111827;

    /* Font */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-small: 0.8rem;
    --font-size-medium: 0.9rem;
    --font-size-big: 1.3rem;
    --font-size-title: 1.1rem;

    /* Taille des containers */

    --height-main-container: 50vw;
    --height-top-container: 10vh;
    --height-usagers-list-container: 10vh;
    


    --width-main-container: 100vw;
    --width-left-bar: 20vw;
    --width-main-container: 100vw;

    --maxheight-usagers-content: 85vh;
    --maxheight-bureaux-container: 75vh;
    --width-usagers-global-container: 80vw;
    --width-bureaux-btn-container: auto;
    --open-size-menu-btn: 50px;

    /* UI basics */
    
    --radius: 10px;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --paddidng-btn: 7px 12px;
}

body.dark-theme /* Mode nuit */
{
    /* General */
    --c-general-bg: #121212;
    --c-general-bg-2: #1e1e1e;
    --c-general-border: #333;
    --c-general-text: #f5f5f5;

    /* Bouton principal */
    --c-btn-1: #2563EB;
    --c-btn-1-hover: #1d4ed8;
    --c-btn-1-text: #ffffff;

    /* Bouton secondaire */
    --c-btn-2: #3a4d63;
    --c-btn-2-hover: #2c3d53;
    --c-btn-2-text: #cfd8e3;

    /* Bouton sélectionner */
    --c-btn-select: #f59e0b;
    --c-btn-select-hover: #d97706;
    --c-btn-select-ready: #d97706;
    --c-btn-select-ready-hover: #b45309;
    --c-btn-select-text: #ffffff;

    /* Bouton usager liste 1 */
    --c-btn-usager-l-1: #3a4d63;
    --c-btn-usager-l-1-hover: #2c3d53;
    --c-btn-usager-l-1-text: #cfd8e3;

    /* Bouton usager liste 2 */
    --c-btn-usager-l-2: #5b3866;
    --c-btn-usager-l-2-hover: #482b55;
    --c-btn-usager-l-2-text: #e9d6f2;
    
    /* Bouton nouvel usager liste 1 */
    --c-btn-new-usager-l-1: #3399ff;
    --c-btn-new-usager-l-1-hover: #1976d2;
    --c-btn-new-usager-l-1-text: #ffffff;

    /* Bouton nouvel usager liste 2 */
    --c-btn-new-usager-l-2: #b347cc;
    --c-btn-new-usager-l-2-hover: #9932cc;
    --c-btn-new-usager-l-2-text: #ffffff;

    /* Bouton ok */
    --c-btn-ok: #10b95c;
    --c-btn-ok-hover: #0f9b4c;
    --c-btn-ok-text: #ffffff;

    /* Bouton supprimer */
    --c-btn-del: #dc2626;
    --c-btn-del-hover: #b91c1c;
    --c-btn-del-text: #ffffff;

    /* Input */
    --c-input-bg: #2c2c2c;
    --c-input-text: #f5f5f5;
    --c-input-border: #555;

    /* Side-menu */
    --c-sm-bg-1: #1f2937;
    --c-sm-bg-2: #111827;
    --c-sm-text: #f5f5f5;
}

/* === GENERAL === */

body
{
    margin: 0;
}

h2
{
    font-size: var(--font-size-big);
    margin: 0;
    padding: 0;
}

/* Container principal */

.main-container
{
    height: var(--height-main-container);
    width: var(--width-main-container);
    display: flex;
    flex-direction: row;

    background-color: #0f9b4c;
}

.main-container .top-container
{
    height: var(--height-top-container);
    width: auto;
    background-color: #1976d2;
}

.main-container .left-bar
{
    display: flex;
    flex-direction: column;
    width: var(--width-left-bar);
    background-color: #9932cc;
}

.main-container .usagers-list-global-container
{
    background-color: var(--c-general-bg-2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: var(--width-usagers-global-container);
    border-left: 1px solid var(--c-btn-2);
    border-right: 1px solid var(--c-btn-2);
    background-color: #ffad1f;
}

/* === USAGERS LIST CONTAINER === */

.usagers-list-container
{
    height: var(--height-usagers-list-container);
    width: 100%;

    background-color: #0f9b4c;
}

/* Orientation warning */

#orientation-warning
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--c-general-bg-2);
    color: var(--c-general-text);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-big);
    padding: 2em;
    overflow: hidden;
}
