:root
{
    /* General */
    --c-general-bg: #F9FAFB;
    --c-general-bg-2: #ebeff7;
    --c-general-border: #ddd;
    --c-general-text: #111827;

    /* Bouton principal */
    --c-btn-1: #3B82F6;
    --c-btn-1-hover: #2563EB;
    --c-btn-1-text: #FFFFFF;

    /* Bouton secondaire */
    --c-btn-2: #b2cee4;
    --c-btn-2-hover: #9bb9d1;
    --c-btn-2-text: #163079;

    /* Bouton sélectionner */
    --c-btn-select: #fdbc4c;         
    --c-btn-select-hover: #ffad1f;
    --c-btn-select-ready: #ffad1f;         
    --c-btn-select-ready-hover: #f09800; 
    --c-btn-select-text: #FFFFFF;

    /* Bouton usager liste 1 */
    --c-btn-usager-l-1: #b2cee4;         
    --c-btn-usager-l-1-hover: #9bb9d1;
    --c-btn-usager-l-1-text: #163079;

    /* Bouton usager liste 2 */
    --c-btn-usager-l-2: #dfc3f1;         
    --c-btn-usager-l-2-hover: #cda9e6;
    --c-btn-usager-l-2-text: #691679;
    
    /* Bouton nouvel usager liste 1 */
    --c-btn-new-usager-l-1: #80c8ff;         
    --c-btn-new-usager-l-1-hover: #6aade0;
    --c-btn-new-usager-l-1-text: #163079;

    /* Bouton nouvel usager liste 2 */
    --c-btn-new-usager-l-2: #f07cff;         
    --c-btn-new-usager-l-2-hover: #d573e2;
    --c-btn-new-usager-l-2-text: #691679;

    /* Bouton ok */
    --c-btn-ok: #34d37b;         
    --c-btn-ok-hover: #10b95c;     
    --c-btn-ok-text: #FFFFFF;

    /* Bouton supprimer */
    --c-btn-del: #F87171;            
    --c-btn-del-hover: #EF4444;    
    --c-btn-del-text: #FFFFFF;

    /* Input */
    --c-input-bg: #F3F4F6;   
    --c-input-text: #111827;   
    --c-input-border: #a5c7f0;  

    /* Side-menu */
    --c-sm-bg-1: #dde5f5;
    --c-sm-bg-2: #d8e1f1;
    --c-sm-text: #111827;

    /* UI basics */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-small: 0.75rem;
    --font-size-medium: 0.85rem;
    --font-size-big: 1.3rem;
    --radius: 10px;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

/* === GENERAL === */

html, body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body
{
    background-color: var(--c-general-bg);
    color: var(--c-general-text);
    animation: fadeIn 0.5s ease-in-out forwards;
    font-family: var(--font-family);
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 160px 1fr;
    grid-template-areas:
        "bureaux usagers"
        "display display";
    min-height: 100vh;
}

h2
{
    font-size: var(--font-size-big)
}

h3
{
    font-size: var(--font-size-medium);
    margin: 5px 0 10px 0;
}

/* === BUTTONS === */

button
{
    background-color: var(--c-btn-1);
    color: var(--c-btn-1-text);
    font-size: var(--font-size-medium);
    border: none;
    padding: 10px 16px;
    border-radius: var(--radius);
    cursor: pointer;
    box-shadow: var(--shadow);;
    transition: var(--transition);
}

button:hover
{
    background-color: var(--c-btn-1-hover);
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button:focus
{
    outline: 2px solid var(--c-btn-1-hover);
    outline-offset: 2px;
}

.ok-btn
{
    background-color: var(--c-btn-ok);
    color: var(--c-btn-ok-text);
}

.ok-btn:hover
{
    background-color: var(--c-btn-ok-hover);
}


.close-btn
{
    background-color: var(--c-btn-del);
    color: var(--c-btn-del-text);
}

.close-btn:hover
{
    background-color: var(--c-btn-del-hover);
}

#fileInput-1
{
    display: none;
}

#fileInput-2
{
    display: none;
}

/* === SCROLLBAR === */

::-webkit-scrollbar
{
  width: 7px;
}

::-webkit-scrollbar-thumb
{
  background-color: var(--c-btn-1);
  border-radius: 10px;
  border: 1px solid #F3F4F6;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--c-btn-1-hover);
}

/* === DISPLAY SECTION === */

.display-section
{
    background-color: var(--c-general-bg-2);
    color: var(--c-general-text);
    border: 1px solid var(--c-btn-2);
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    z-index: 3;
    grid-area: display;
    display: none; /* Masqué par défaut */
    top: auto;
    bottom: 0; 
    width: 100%;
}


.display-section h2
{  
    white-space: normal; 
    word-break: break-word;
    margin: 0;
}

.display-section button
{
    background-color: var(--c-btn-del);
    color: var(--c-btn-del-text);
    padding: 12px 18px; 
    margin: 0 20px;               
}

.display-section button:hover
{
    background-color: var(--c-btn-del-hover);
}

/* === BUREAUX BUTTONS CONTAINER === */

.bureaux-btn-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 20px;
    gap: 10px;

    /* Taille adaptative */
    width: auto;
    max-width: 20vw;
    height: auto;
    max-height: 80vh;

    /* Scroll si trop de contenu */
    overflow-y: auto;
    overflow-x: hidden;

    /* Centrage vertical à gauche */
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bureaux-btn-container button
{
    background-color: var(--c-btn-1);
    color: var(--c-btn-1-text);
}

.bureaux-btn-container button:hover
{
    background-color: var(--c-btn-1-hover);
}

.bureaux-btn-container button.selected
{
    background-color: var(--c-btn-ok);
    color: var(--c-btn-ok-text);
}

.bureaux-btn-container button.selected:hover
{
    background-color: var(--c-btn-ok-hover);
}

/* === USAGERS LIST CONTAINER === */

.usagers-list-global-container
{
    grid-area: usagers;
    background-color: var(--c-general-bg-2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 80vw;
    border-left: 1px solid var(--c-btn-2);
    border-right: 1px solid var(--c-btn-2);
}

.usagers-list-container
{
    height: 100vh;
}

#usagers-list-1-container
{
    border-right: 1px solid var(--c-btn-2);
}

.usagers-list-content
{
    color: var(--c-general-text);           
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    margin: 8px;
    height: auto;
    max-height: 70vh;
    width: 38vw;
    padding: 10px 8px;   
    overflow-x: hidden; 
    overflow-y: auto; 
}

.usager-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 0;
}

.usager-container button
{
    width: 100%;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

.usager-container .usager-btn
{
    font-size: var(--font-size-medium);
}

#usagers-list-1-container .usager-btn.default
{
    background-color: var(--c-btn-usager-l-1);
    color: var(--c-btn-usager-l-1-text);
}

#usagers-list-1-container .usager-btn.default:hover
{
    background-color: var(--c-btn-usager-l-1-hover);
}

#usagers-list-2-container .usager-btn.default
{
    background-color: var(--c-btn-usager-l-2);
    color: var(--c-btn-usager-l-2-text);
}

#usagers-list-2-container .usager-btn.default:hover
{
    background-color: var(--c-btn-usager-l-2-hover);
}

#usagers-list-1-container .usager-btn.new-usager
{
    background-color: var(--c-btn-new-usager-l-1);
    color: var(--c-btn-new-usager-l-1-text);
}

#usagers-list-1-container .usager-btn.new-usager:hover
{
    background-color: var(--c-btn-new-usager-l-1-hover);
}

#usagers-list-2-container .usager-btn.new-usager
{
    background-color: var(--c-btn-new-usager-l-2);
    color: var(--c-btn-new-usager-l-2-text);
}

#usagers-list-2-container .usager-btn.new-usager:hover
{
    background-color: var(--c-btn-new-usager-l-2-hover);
}

.usager-container .usager-btn.selected
{
    background-color: var(--c-btn-select-ready);
    color: var(--c-btn-select-text);
}

.usager-container .usager-btn.selected:hover
{
    background-color: var(--c-btn-select-ready-hover);
}

.usager-container .usager-btn.displayed
{
    background-color: var(--c-btn-ok);
    color: var(--c-btn-ok-text);
}

.usager-container .usager-btn.displayed:hover
{
    background-color: var(--c-btn-ok-hover);
}

.usager-container .delete-btn,
.usager-container .select-btn
{
    width: auto;
    padding: 8px;
    max-height: 30px;
    border-radius: 20px;
}

.usager-container .select-btn
{
    background-color: var(--c-btn-select);
    color: var(--c-btn-select-text);
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.usager-container .select-btn:hover
{
    background-color: var(--c-btn-select-hover);
}

.usager-container .select-btn.prêt
{
    background-color: var(--c-btn-select-ready);
}

.usager-container .select-btn.prêt:hover
{
    background-color: var(--c-btn-select-ready-hover);
}

.usager-container .delete-btn
{
    background-color: var(--c-btn-del);
    color: var(--c-btn-del-text);
    font-size: var(--font-size-medium);
}

.usager-container .delete-btn:hover
{
    background-color: var(--c-btn-del-hover);
}

/* === OPEN SIDE MENU BUTTON === */

#open-side-menu-btn
{
    background-color: var(--c-btn-2);
    color: var(--c-btn-2-text);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#open-side-menu-btn:hover
{
    background-color: var(--c-btn-2-hover);
}

/* === SIDE MENU === */

.side-menu
{
    background-color: var(--c-sm-bg-1);
    color: var(--c-sm-text);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: var(--transition);
    z-index: 5;
    padding-top: 60px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.side-menu.open
{
    width: 250px;
}

.side-menu button
{
    background-color: var(--c-btn-2);
    color: var(--c-btn-2-text);
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    display: block;
}

.side-menu button:hover
{
    background-color: var(--c-btn-2-hover);
}

.side-menu button.close-btn
{
    background-color: var(--c-btn-del);
    color: var(--c-btn-del-text);
}

.side-menu button.close-btn:hover
{
    background-color: var(--c-btn-del-hover);
}

/* === POPUPS === */

.popup
{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
}

.popup-overlay
{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
}

.popup.open
{
    display: flex;
}

.popup-content
{
    background-color: var(--c-sm-bg-1);
    color: var(--c-sm-text);
    box-sizing: border-box;
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: auto;
    max-width: 80vw;
    height: auto;
    max-height: 80vh;
    text-align: center;
    z-index: 50;
}

.popup-content button
{
    background-color: var(--c-btn-2);
    color: var(--c-btn-2-text);
    margin: 10px 5px;
}

.popup-content button:hover
{
    background-color: var(--c-btn-2-hover);
}

.popup-content .ok-btn
{
    background-color: var(--c-btn-ok);
    color: var(--c-btn-ok-text);
}

.popup-content .ok-btn:hover
{
    background-color: var(--c-btn-ok-hover);
}

.popup-content .close-btn
{
    background-color: var(--c-btn-del);
    color: var(--c-btn-del-text);
}

.popup-content .close-btn:hover
{
    background-color: var(--c-btn-del-hover);
}

.popup-content .remove-bureau-btn
{
    background-color: var(--c-btn-del);
    color: var(--c-btn-del-text);
    width: 25px;            
    height: 25px;        
    padding: 0px;
}

.popup-content .remove-bureau-btn:hover
{
    background-color: var(--c-btn-del-hover);
    transform: translateY(-1px);
}

.popup-content input
{
    background-color: var(--c-input-bg);
    color: var(--c-input-text);
    border: 1px solid var(--c-input-border);
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
    font-size: var(--font-size-small);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    outline: none;
    width: 90px;
}

.popup-content #bandeau-input
{
    width: 250px;
}

.popup-content label
{
    color: var(--c-input-text);
    font-size: var(--font-size-medium);
}

.popup-content .new-usager-add-btn
{
    background-color: var(--c-btn-ok);
    color: var(--c-btn-ok-text);
    width: 25px;            
    height: 25px;        
    padding: 0px;
}

.popup-content .new-usager-add-btn:hover
{
    background-color: var(--c-btn-ok-hover);
    transform: translateY(-1px);
}

.popup-content #bureaux-modif-container
{
    background-color: var(--c-sm-bg-2);
    border: 1px solid var(--c-btn-2);
    border-radius: var(--radius) var(--radius) var(--radius) var(--radius); 
    overflow-y: auto;
    height: auto;
    max-height: 50vh;
}

.popup-content #bureaux-modif-container::-webkit-scrollbar-thumb
{
  background-color: var(--c-btn-2);
}

.popup-content #bureaux-modif-container::-webkit-scrollbar-thumb:hover
{
  background-color: var(--c-btn-2-hover);
}


/* === ANIMATION === */

@keyframes fadeIn
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* === MOBILE FIRST (jusqu’à 600px) === */
@media screen and (max-width: 600px)
{
    :root
    {
        --font-size-small: 0.6rem;
        --font-size-medium: 0.7rem;
        --font-size-big: 0.8rem;
    }
}

/* === TABLETTE EN MODE PAYSAGE === */
@media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: landscape)
{
    :root
    {
        --font-size-small: 0.7rem;
        --font-size-medium: 0.8rem;
        --font-size-big: 1rem;
    }

    .usagers-list-content
    {
        max-height: 46vh;
    }
}
