:root
{
    --color-primary: #962030;
    --color-primary-2: #7a1a28;
    --color-secondary: #6b6b6b;
    --color-secondary-2: #3f3f3f;
    --color-select: #e27a02;
    --color-select-2: #aa5b00;
    --color-display: #147e26;
    --color-display-2: #085716;
    --color-btn-menu: #4682B4;
    --color-btn-menu-2: #275d8a;
    --color-btn-clear: #ff0000;
    --color-btn-clear-2: #b30000;
    --color-light: #dfdfdf;
}