:root
{
  /* Couleur */
  --c-main: #962030;
  --c-secondary: #f1dede;
  --c-highlight: #c83b3b;
  --c-bg: #f9f9f9;
  --c-text: #555555;

  /* Taille de police */
  --font-size-marquee: 2.5rem;
  --font-size-name: 3rem;
  --font-size-subtext: 1.8rem;
  --font-size-box-title: 1.5rem;
  --font-size-box: 1.2rem;

  /* Box */
  --height-box: 200px;
  --width-box: 400px;
  --padding-box: 1rem;

  /* Météo */
  --height-meteo-widget: 150px;
  --width-meteo-widget: 400px;

  /* Image */
  --maxheight-img: 100px;
  --maxwidth-img: 250px;

  /* Bandeau */
  --height-marquee: 4rem;
}

body
{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--c-bg);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* En-tête */

header
{
  width: 100%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header img
{
  max-height: var(--maxheight-img);
  max-width: var(--maxwidth-img)
}

/* -- Container principal -- */

main
{
  text-align: center;
  margin: 2rem;
}

/* Nom de l'usager */
.main-name
{
  font-size: var(--font-size-name);
  font-weight: bold;
  color: var(--c-main);
  min-height: 4rem;
}

/* Message d'assignation au bureau */
.subtext
{
  font-size: var(--font-size-subtext);
  margin-bottom: 2rem;
  font-weight: bold;
}

/* Box */

.box
{
  font-size: var(--font-size-box);
  background-color: var(--c-secondary);
  padding: var(--padding-box);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: var(--width-box);
  height: var(--height-box);
  margin: 0;
  position: absolute;
  top: 45%;
}

.box h3
{
  margin-top: 0;
  font-size: var(--font-size-box-title);
  color: var(--c-main);
}

/* Météo */

.meteo
{
  right: 20%;
  transform: translateX(50%);
}

iframe {
  width: var(--width-meteo-widget);
  height: var(--height-meteo-widget);
}

/* Liste des prochains usagers */

.next-usagers
{
  left: 20%;
  transform: translateX(-50%);
}

.next-usagers ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.next-usagers li
{
  margin: 0.5rem 0;
  font-weight: bold;
}

/* Bandeau */

.marquee
{
  width: 100%;
  overflow: hidden;
  background-color: var(--c-main);
  color: white;
  font-size: var(--font-size-marquee);
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--height-marquee);
  display: flex;
  align-items: center;
}

.marquee-text
{
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 20s linear infinite;
}

/* Animation du bandeau */
@keyframes scroll-left
{
  0%
  {
    transform: translateX(0%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}