<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File d'attente</title>
    <link rel="stylesheet" href="/static/css/style_display.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/script_display.js"></script>
</head>

<body>
    <div class="image">
        <img id="image_sln" src="static/image/sln_logo.png" width="20%"/>
    </div>

    <div id="display_section" class="display_section" style="display:block;">
        <h1 id="usager_display"></h1>
        <h2 id="bureau_display"></h2>
    </div>

    <!-- https://fr.tutiempo.net/gratuit.htm#google_vignette -->
    <div class="meteo">
        <iframe id="meteo_iframe"src="https://fr.tutiempo.net/s-widget/tt_NXx8MzgyNjI2fG58bnxufDQxNzQ4fDYwfDE2fDF8N3w1fDEwfDI1fG58bnxufHx8fHxFQ0VDRUN8MTEwfDN8OTB8OTB8MjA2fDMyfDEwNnwwfDcyNnwxNTl8NzF8NTN8MjF8MjF8NDF8OTJ8NDB8eWV8NXw%2C"
            frameborder="0" allowTransparency="true" scrolling="no" name="flipe">
        </iframe>
    </div>

    <div class="bandeau">
        <marquee behavior="scroll" direction="left" scrollamount="12" id="bandeau">BIENVENUE !</marquee>
    </div>
</body>

</html>
