<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File d'attente</title>
    <link rel="stylesheet" href="/static/css/style_file_d_attente.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/script_file_d_attente.js"></script>
</head>

<body>
  <header>
    <img id="image_sln" src="static/images/sln_logo.png" width="25%" alt="logo-sln"/>
  </header>

  <div class="usager-container">
    <div class="main-name" id="main-name"></div>
    <div class="subtext" id="subtext"></div>
  </div>

  <div class="box-container">

    <div class="box next-usagers">
      <h3>Prochains rendez-vous :</h3>

      <ul>
        <li id="next-usager-1"></li>
        <li id="next-usager-2"></li>
        <li id="next-usager-3"></li>
        <li id="next-usager-4"></li>
      </ul>
    </div>

    <div class="box meteo" id="meteo">
      <h3>Météo :</h3>
      <div id="meteo-content">
        <iframe src="https://api.wo-cloud.com/content/widget/?geoObjectKey=14403272&language=fr&region=FR&timeFormat=HH:mm&windUnit=kmh&systemOfMeasurement=metric&temperatureUnit=celsius" name="CW2" scrolling="no" frameborder="0" style="border: 1px solid #003959;border-radius: 4px"></iframe>
      </div>
    </div>
    
  </div>

  <div class="marquee" id="marquee">
    <div class="marquee-text" id="marquee-text">Bienvenue dans notre espace d'accueil – Nous vous souhaitons une excellente journée !</div>
  </div>

</body>
</html>