<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu principal</title>
    <link rel="stylesheet" href="/static/css/style_home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <div class="image">
        <img id="image_sln" src="static/images/sln_logo.png"/>
    </div>

    <div class="btn-container">
        <button onclick="window.location.href='http://{{ ip }}:{{ port }}/tableau-de-bord'">
            Accéder<br>au tableau de bord
        </button>

        <button onclick="window.location.href='http://{{ ip }}:{{ port }}/file-d-attente'">
            Accéder<br>à la file d'attente
        </button>
    </div>
</body>